---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Products - Torbreck Orchard">
	<h1>Products</h1>
	<ul>
		<li>Apple juice</li>
		<li>Apples</li>
		<li>Blackcurrants</li>
		<li>Whitecurrants</li>
		<li>Honey</li>
		<li>Honeycomb</li>
		<li>Plums</li>
		<li>Raspberries</li>
		<li>Bare root fruit trees (dormant season only)</li>
		<li>Potted fruit trees</li>
		<li>
			<a
				href="https://www.ebay.co.uk/itm/125756461259"
				target="_blank"
				rel="noopener noreferrer">
				Scion wood for grafting (dormant season only)
			</a>
		</li>
	</ul>
</Layout>

<style lang="stylus">
	ul
		column-count 3
		@media screen and (max-width: 800px)
			column-count 2
		@media screen and (max-width: 500px)
			column-count 1
</style>
