---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Fruit Trees - Torbreck Orchard">
	<h1>Torbreck Orchard fruit tree varieties</h1>
	<h2>Apples</h2>
	<ul>
		<li>Adam's Pearmain</li>
		<li>Anglesea Pig's Snout</li>
		<li>Ashmead's Kernel</li>
		<li>Autumn Pearmain</li>
		<li>Bardsey Island (Afal Enlli)</li>
		<li>Beauty of Bath</li>
		<li>Blenheim Orange</li>
		<li>Bloody Ploughman</li>
		<li>Bramley Seedling</li>
		<li>Calville Blanc D'Hiver</li>
		<li>Captain Palmer</li>
		<li>Charles Ross</li>
		<li>Cider Lady's Finger</li>
		<li>Claygate Pearmain</li>
		<li>Cornish Gillieflower</li>
		<li>Coul Blush</li>
		<li>Court Pendu Plat</li>
		<li>Cox's Orange Pippin</li>
		<li>Crimson King</li>
		<li>Dabinett</li>
		<li>Delcorf</li>
		<li>Devonshire Quarrenden</li>
		<li>Discovery</li>
		<li>Downton Pippin</li>
		<li>Duck's Bill</li>
		<li>Dumelow's Seedling</li>
		<li>Dunkertons Late</li>
		<li>Dymock Red</li>
		<li>Eggleton Styre</li>
		<li>Egremont Russet</li>
		<li>Ellison's Orange</li>
		<li>Ethelbert Oakenfull</li>
		<li>Falstaff</li>
		<li>Fiesta</li>
		<li>Fillbarrel</li>
		<li>Foxwhelp</li>
		<li>Gascoyne's Scarlet</li>
		<li>Gloster</li>
		<li>Golden Bittersweet</li>
		<li>Golden Noble</li>
		<li>Greenup's Pippin</li>
		<li>Greensleeves</li>
		<li>Grenadier</li>
		<li>Hangy Down</li>
		<li>Hawthornden</li>
		<li>Herefordshire Russet</li>
		<li>Heusgen's Golden Reinette</li>
		<li>Hitchin Pippin</li>
		<li>Howgate Wonder</li>
		<li>Hunthouse</li>
		<li>Idared</li>
		<li>Ingrid Marie</li>
		<li>Irish Peach</li>
		<li>Isaac Newton</li>
		<li>James Grieve</li>
		<li>John Standish</li>
		<li>Jupiter</li>
		<li>Katy</li>
		<li>Keswick Codlin</li>
		<li>Kidd's Orange Red</li>
		<li>King of the Pippins</li>
		<li>Kingston Black</li>
		<li>Laxton's Epicure</li>
		<li>Laxton's Fortune</li>
		<li>Laxton's Superb</li>
		<li>Le Bret</li>
		<li>Long Reinette</li>
		<li>Lord Derby</li>
		<li>Lord Hindlip</li>
		<li>Lord Lambourne</li>
		<li>Mabbott's Pearmain</li>
		<li>Malus Golden Hornet</li>
		<li>Malus John Downie</li>
		<li>Mannington's Pearmain</li>
		<li>Margil</li>
		<li>May Queen</li>
		<li>Maypole Ballerina Crab Apple</li>
		<li>Mere De Menage</li>
		<li>Michelin</li>
		<li>Morgan Sweet</li>
		<li>Mrs Phillimore</li>
		<li>New Rock Pippin</li>
		<li>Newton Wonder</li>
		<li>Norfolk Royal</li>
		<li>Nutmeg Pippin</li>
		<li>Old Pearmain</li>
		<li>Orleans Reinette</li>
		<li>Otava</li>
		<li>Paradis Myra</li>
		<li>Paradis Sparkling</li>
		<li>Peasgood's Nonsuch</li>
		<li>Pine Golden Pippin</li>
		<li>Pitmaston Pineapple</li>
		<li>Pixie</li>
		<li>Queen Cox</li>
		<li>Rajka</li>
		<li>Red Claygate</li>
		<li>Red Cluster</li>
		<li>Red Devil</li>
		<li>Red Falstaff</li>
		<li>Redlove Odysso</li>
		<li>Reverend W Wilks</li>
		<li>Ribston Pippin</li>
		<li>Rosemary Russet</li>
		<li>Scotch Bridget</li>
		<li>Scrumptious</li>
		<li>Skyrme's Kernel</li>
		<li>Slack ma Girdle</li>
		<li>Somerset Redstreak</li>
		<li>Sopps in Wine</li>
		<li>Spartan</li>
		<li>Stoke Red</li>
		<li>Sturmer Pippin</li>
		<li>Sugar Loaf Pippin</li>
		<li>Sunset</li>
		<li>Suntan</li>
		<li>Sweet Alford</li>
		<li>Sweet Society</li>
		<li>Teign Harvey</li>
		<li>Ten Commandments</li>
		<li>Tom Putt</li>
		<li>Topaz</li>
		<li>Tremlett's Bitter</li>
		<li>Violette</li>
		<li>White Spanish Reinette</li>
		<li>Wiltshire Dognose</li>
		<li>Winston</li>
		<li>Winter Gem</li>
		<li>Worcester Pearmain</li>
		<li>Yarlington Mill</li>
	</ul>

	<h2>Plums</h2>
	<ul>
		<li>Ariel</li>
		<li>Blue Tit</li>
		<li>Coe's Golden Drop</li>
		<li>Count Althan's Gage</li>
		<li>Czar</li>
		<li>Denniston's Superb</li>
		<li>Farleigh Damson</li>
		<li>Jefferson's Gage</li>
		<li>Jubilee</li>
		<li>Kirke's Blue</li>
		<li>Lizzie</li>
		<li>Marjorie's Seedling</li>
		<li>Merryweather</li>
		<li>Old Green Gage</li>
		<li>Opal</li>
		<li>Oullin's Gage</li>
		<li>Pershore Emblem</li>
		<li>Sanctus Hubertus</li>
		<li>Shropshire Prune</li>
		<li>Thames Cross</li>
		<li>Victoria</li>
	</ul>

	<h2>Pears</h2>
	<ul>
		<li>Concorde</li>
		<li>Conference</li>
		<li>Crawford</li>
		<li>Deacon's Pear</li>
		<li>Doyenne du Comice</li>
		<li>Dr Jules Guyot</li>
		<li>Durondeau</li>
		<li>Glou Morceau</li>
		<li>Hessle</li>
		<li>Jargonelle</li>
		<li>Josephine de Malines</li>
		<li>Louise Bonne of Jersey</li>
		<li>Marguerite Marillat</li>
		<li>Onward</li>
		<li>Packham's Triumph</li>
		<li>St. Nicholas</li>
		<li>Triomphe de Vienne</li>
		<li>Williams Bon Chretian</li>
		<li>Windsor</li>
	</ul>
</Layout>

<style lang="stylus">
	ul
		column-count 3
		@media screen and (max-width: 800px)
			column-count 2
		@media screen and (max-width: 500px)
			column-count 1
</style>
