<script>
	import * as Leaflet from "leaflet"
	import "leaflet/dist/leaflet.css"

	let map = Leaflet.map("map").setView([57.4358, -4.2616], 17)
	Leaflet.tileLayer("https://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}", {
		maxZoom: 21,
		subdomains: ["mt0", "mt1", "mt2", "mt3"],
		attribution: "Data from <a href='https://maps.google.co.uk' target='_blank' rel='noopener noreferrer'>Google Maps</a>",
	}).addTo(map)

	Leaflet.marker([57.43589, -4.261064], {
		icon: Leaflet.icon({
			iconUrl: "https://cdn.torbreckorchard.co.uk/marker-icon.png",
			iconSize: [25, 41],
			iconAnchor: [12, 39],
			shadowUrl: "https://cdn.torbreckorchard.co.uk/marker-shadow.png",
			shadowSize: [41, 41],
			shadowAnchor: [13, 39],
		}),
	}).addTo(map)
</script>

<div id="map"></div>
<noscript>There would be a map here if Javascript was enabled.</noscript>

<style lang="stylus">
	#map
		height 600px
		border-radius 0.5rem
</style>
