---
export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="An orchard of heritage fruit trees in Inverness-shire, situated close to Loch Ness in the Scottish Highlands." />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/products">Products</a>
				<a href="/trees">Fruit Trees</a>
				<a href="/contact">Contact Us</a>
				<a href="/gallery">Gallery</a>
			</nav>
		</header>
		<main>
			<slot />
		</main>

		<img src="http://cdn.torbreckorchard.co.uk/orchtard.webp" alt="Orchard" />

		<style lang="sass">
			img
				position: fixed
				bottom: 0
				right: 0
				width: 100%
				height: 100%
				object-fit: cover
				z-index: -5
				filter: blur(5px)
				transform: scale(1.025)
				pointer-events: none

			header
				position: sticky
				top: 0
				width: 100%
				background-color: #1b4500
				z-index: 899
			nav
				display: grid
				grid-template-columns: repeat(6, 1fr)
				row-gap: 0.2rem
				column-gap: 0.2rem
				
				max-width: 52rem
				margin: auto
				padding: 3vh 3vw
				a
					color: black
					background-color: #fff
					padding: 0.4rem 0
					border-radius: 0.7rem
					overflow: hidden
					white-space: nowrap
					text-decoration: none
					text-overflow: string
					text-align: center
					width: 100%
					font-weight: bold
					font-size: 1.1rem
					transition: 0.2s
					&:hover
						transition: 0.2s
						background-color: #abf590

			@media screen and (max-width: 700px)
				nav
					grid-template-columns: repeat(3, 1fr)

			@media screen and (max-width: 400px)
				nav
					grid-template-columns: repeat(2, 1fr)
		</style>

		<style lang="sass" is:global>
			@font-face
				font-family: "Lexend"
				src: url("/assets/lexend.woff2") format("woff2")
				font-display: swap

			:root
				overflow: overlay

			html
				background-size: 100vw 100vh
				background-attachment: fixed

			body
				font-family: Lexend, sans-serif
				color: white
				margin: auto
				font-size: 1.2rem

			main
				max-width: 52rem
				padding: 2% 3% 3% 3%
				margin: auto
				margin-bottom: 10vh
				background-color: #1b4500cc
				border-radius: 0 0 1rem 1rem

				a
					color: cyan
					&:visited
						color: palevioletred
					&:hover
						color: red
					&:active
						color: yellow

			h1
				font-size: 2.5rem
				margin: 0
				h2
					font-size: 2rem

				p, ul
					font-size: 1.2rem

			::-webkit-scrollbar
				width: 15px
				cursor: pointer
				&-track
					background: none
				&-thumb
					border-radius: 9rem
					background: #222
					&:hover
						background: #444
		</style>
	</body>
</html>
